<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h1>ログイン</h1>
  {{#error}}<p style="color:red;">{{error}}</p>{{/error}}
  <form method="post" action="/login">
    <label>ユーザー名<br>
      <input type="text" name="name" required>
    </label><br><br>
    <label>パスワード<br>
      <input type="password" name="password" required>
    </label><br><br>
    <button type="submit">ログイン</button>
  </form>
  <p><a href="/register">新規登録はこちら</a></p>
</body>
</html>
